<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Edit your message id no: <%=chat._id  %></h3>
    <p>This chat was sent from <b><%=chat.from %></b> to <b> <%=chat.to %></b></p>
    <form method="POST" action="/chats/<%=chat._id %>?_method=put">
        <textarea name="msg" cols="30" rows="10"> <%=chat.msg  %></textarea>
        <br>
        <button>Submit</button>
    </form>
   
    
</body>
</html>